@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body {
    height:100vh;
}

header {
    height:40vh;
    position:relative;
}

.title_main {
    position: relative;top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size:max(30px,2vw);
    color:black;
}

p {
    text-transform: uppercase;
    font-size:12px;
    margin-top: 5px;
    margin-left:5px;
}

.logo {
    background-color: white;
    width:130px;
    height:35px;
    border:1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
   
}

.title_logs {
    margin-bottom: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
}


.left_logo {
    margin:1px;
    height:90%;
    width:50%;
    background-color: black;
    text-align: center;
    color:white;
}

.loading {
    font-size:max(20px,2vw);
    animation: spin 2s infinite ease-in-out;
    position:relative;top:50px;
    color: rgb(0, 0, 0);
}

main {
    height:40vh;
}

textarea {
    width:max(300px,30vw);
    overflow-y:auto;
    border-radius: 5px;
    border:1px solid rgb(230, 230, 230);
    box-shadow: 1px 1px 0px 1px rgba(80, 80, 80, 0.336);
    font-size:max(30px,2vw);;
    padding:20px;
    outline:none;
    resize: none;
}

textarea::placeholder {
    font-size:max(30px,2vw);
    padding-left:20px;
    color:rgba(0, 0, 0, 0.329)
}



.left_area {
    background-color:rgb(255, 255, 255);
}

.right_area {
    background-color: rgb(247, 247, 247);
}


.options {
    gap:15vw;
    margin-bottom:20px;
}

select {
    padding:5px;
    cursor: pointer;
    width:150px;
    background-color: white;
    color:rgb(0, 0, 0);
    outline:none;
    border: 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
}


@media (min-width:200px) and (max-width:600px) {

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }




    textarea {
        width:max(300px,30vw);
        height: 400px;
    }

    select {
        width:100px;
        font-size: 12px;
    }
    



}