* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    color:white;
    font-family: "Quicksand", sans-serif;
}


:root {
    --bg-color:#0e6391;
    --bg-areas-color:#f9fafc;
    --primary-color:#d4637d;
    --secundary-color:#226CAB;

}

.container-fluid {
    background-color: white;
    background-position: center;
    background-size: cover;
    width:100vw;
    height: 100vh;
}
.chatPage {
    position: relative;top:10vh;
    height:600px;
    width:1000px;
}

.main {
    height:700px;
    gap:8px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}




/*Style chatUsers*/

.chatUsers {
    background-color:var(--secundary-color);
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.chatUsers::-webkit-scrollbar-track {
    background-color: #3582c6;
}

.chatUsers::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
.chatUsers::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
  
.chatUsers::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 12px;
}

.userField {
    width:290px;
    height: 100px;
    border-radius: 20px;
    padding:20px;
    color:white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}



.perfilUser {
    width:50px;
    height: 50px;
    border:none;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-position: center;
    background-size: cover;
    background-color: #282a37;
}

.userStatus {
    margin-left: 20px;
}

.textChat {
    font-size:14px;
    font-weight: 400;
    width: 250px;
    word-wrap: break-word;
}


.subTitle {
    font-weight: 300;
    font-size:14px;
    color: var(--bg-areas-color);
}

.userTitle {
    font-size:16px;
    color: var(--bg-areas-color);
    font-weight:600;
}

.mood {
    background-color: transparent;
    border:none;
    width:160px;
}

.mood:active {
    border: 0px 0px 0px 1px solid white;
}

.mood:focus {
    border: 0px 0px 0px 1px solid white;
    outline:none;
    border-bottom: 1px solid #3582c6;
}


/* Style chatArea */

.chatArea {
    overflow-y:auto;
    max-height: 680px;
    border-radius: 30px;
}

.chat {
    list-style: none;
    padding: 50px;
}

.chatArea::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
.chatArea::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
  
.chatArea::-webkit-scrollbar-thumb {
    background-color: #3582c6;
    border-radius: 12px;
}

.textChat {
    margin-top: 10px;
}

.titleUserChat {
    font-weight: 600;
    font-size: 35px;
    color: var(--secundary-color);
    position: relative;top:20px;left:50px
}

.joined {
    color:var(--secundary-color);
}

.disjoined {
    color:rgba(255, 51, 102, 0.842);
}

.msgText {
    background-color:#3387d1a9;
    border-radius: 20px;
    padding:20px;
    max-width: 300px;
    color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.msgTextSended {
    background-color: var(--secundary-color);
    border-radius: 20px;
    padding:20px;
    max-width: 300px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;left:250px;
}

.circlePerfilMsg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-size: cover;
    background-position: center;
}

.userName2 {
    color:rgb(255, 255, 255);
    font-weight: 600;
}

.userName1 {
    color:#ffffff;
    font-weight: 600;
}



/* Style textArea*/


.textArea {
    padding:10px;
    gap:18px;
    flex:1;
    position: relative;bottom:90px;
}

.buttonsArea {
    position: relative;bottom:80px;
    border-radius: 30px;
}

.exitButton,.editButton {
    border:none;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.exitButton ion-icon {
    font-size: 40px;
    color: var(--secundary-color);
}
.editButton ion-icon {
    font-size: 40px;
    color: var(--secundary-color);
}

.editButton ion-icon:active {
    color:#000000;
}

.exitButton ion-icon:active {
    color: #ffffff;
}

textarea {
    font-size:11px;
    width:400px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color:var(--secundary-color);
    padding:10px;
    border-radius: 15px;
    color:rgb(255, 255, 255);
    resize:none;
    min-height: 50px;
    max-height:50px;
    padding-left: 20px;
    position: relative;bottom:20px;
    outline: none;
}

textarea::placeholder {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.658);
}


.listUsers {
    list-style: none;
    margin-top:50px;;
}


h1 {
    text-align: center;
    font-size:14px;
}


/* Style edit Area*/

.editMain {
    height:400px;
    width:max(280px,20vw);
    margin-left: auto;
    margin-right: auto;
    position:relative;top:30vh;
    
}

.elementsEdit {
    width:200px;
}

.perfilCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--secundary-color);
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position:relative;bottom:60px;
}

.editForms {
    gap:10px;
}

.userChangeName {
    padding:5px;
    padding-left: 10px;
    border:none;
    background-color: transparent;
    color:var(--secundary-color);
    outline: none;
    font-weight: 600;
    font-size: 25px;
    position: relative;bottom: 50px;
    text-align: center;
}

.editButtons{
    margin-top: 90px;
    gap:30px;
}

.userChangeName:focus {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
}

input[type="submit"]{
    padding:10px; 
    border:none;
    background-color:#226CAB;
    color:var(--bg-areas-color);
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 30px;
    font-weight: 500;
    width:100px;
    transition: 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative;bottom: 100px;
}


input[type="submit"]:active {
    border-bottom: var(--bg-areas-color);
}

select {
    width:20px;
    height: 20px;
    padding:5px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border:none;
    background-color:var(--secundary-color);
    position: relative;left:160px;bottom:150px;
    color:white;
    outline:none;
    cursor: pointer;
    border-radius: 50%;
}

option{
   color: white;
}

strong {
    color: var(--secundary-color);
    font-weight: 300;
}



@media screen and (min-width: 851px) and (max-width: 1050px) {

    .chatPage {
        width:800px;
    }

    .msgTextSended {
        width: 250px;
        position: relative;left:170px;
    }

    .msgText {
        width: 250px;
    }
    
    
    

}



@media screen and (min-width: 500px) and (max-width: 851px) {

    .main {
        flex-direction: column;
        position: relative;bottom:5vh;
    }

    .chatPage {
        width:450px;
        flex:none;
    }

    .chatArea {
        order: 2;
    }

    .msgTextSended {
        width: 250px;
        position: relative;left:100px;
    }

    .msgText {
        width: 250px;
    }

    .chatUsers {
        background-color: transparent;
        box-shadow:none;
        height: 180px;     
        min-width: 450px;   
        max-width: 450px;
        order: 1;
        flex:none;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;bottom: 20px;
    }

    .userField {
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .textChat {
        width: 150px;
        word-wrap: break-word;
    }

    .textArea {
        position: relative;bottom:120px;
    }


    .buttonsArea {
        min-width: 200px;
        position: relative;top:10px;left:300px;
    }
    
    
    .subTitle {
        color: var(--secundary-color);
    }
    
    .userTitle {
        color: var(--secundary-color);
    }
    


}

@media screen and (min-width:320px) and (max-width: 500px) {

    .container-fluid {
        height: 850px;
    }

    .main {
        flex-direction: column;
        position: relative;bottom:5vh;
    }

    .chatPage {
        width:300px;
        flex:none;
    }

    .chatArea {
        order: 2;
    }

    .msgTextSended {
        width: 200px;
        position: relative;left:10px;
    }

    .msgText {
        width: 200px;
    }

    .chatUsers {
        background-color: transparent;
        box-shadow:none;
        height: 180px;
        min-width: 300px;     
        max-width: 300px;
        order: 1;
        flex:none;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;bottom: 20px;
    }

    .userField {
        width: 180px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mainText {
       height: 0px;
    }

    .textChat {
        width: 150px;
        word-wrap: break-word;
    }

    .textArea {
        position: relative;bottom:70px;
    }

    textarea {
        padding: 10px;
        width:250px;
        position: relative;bottom:0px;
        border: 1px solid var(--secundary-color);
    }

    textarea::placeholder {
        font-weight: 400;
        font-size: 14px;
    }
    


    .buttonsArea {
        width: 100vw;
        position: relative;left:190px;
        padding: 20px;
        background-color: transparent;
    }

    .exitButton ion-icon {
        font-size: 30px;
    }
    .editButton ion-icon {
        font-size: 30px;
    }

    .titleUserChat {
        font-size: 24px;
    }

    .subTitle {
        color: var(--secundary-color);
    }
    
    .userTitle {
        color: var(--secundary-color);
    }
    

    

}