* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: "Quicksand", sans-serif;
}

body {
    overflow: hidden;
}


.container-fluid {
    background-color:#ffffff;
    height:100vh;
    width:100vw;
    overflow-y: hidden;
}

.box_login {
    padding:70px 50px 60px 50px;
    position:relative;top:30px;
    width:max(200px,20vw);
    height: 300px;
}

.box_login_register {
    padding:70px 50px 60px 50px;
    position:relative;top:30px;
    width:max(200px,25vw);
    height: 300px;
}

.registerTitleArea {
    position: relative;bottom:60px;
}
.login_area {
    height: 100%;
    width:100%;
}



p {
    font-size:max(12px,0.8vw);
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    width:max(200px,20vw);
    font-weight: 400;
}

input[type="email"], input[type="password"], input[type="text"] {
    padding:5px;
    width: max(200px,18vw);
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:none;
    background-color: transparent;
    color:rgb(0, 0, 0);
}

input:focus {
    transform: scale(1.1);
    outline:none;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.205);
}

input[type="submit"] {
    padding:6px;
    width: max(200px,18vw);
    background-color: #226CAB;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
    border:none;
}

input[type="submit"]:active {
    background-color: #226CAB;
    transform: scale(1.1);
    color: aliceblue;
    border: none;
    border-bottom: 2px solid white;
} 

.blue_text {
    color:#226CAB;
    font-weight: bold;
}

h1 {
    color:rgba(0, 0, 0, 0.5);
    font-size: max(20px,2vw);
    font-weight: 200;
}



form {
    gap:10px;
    width:max(300px,25vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FG_password {
    text-align: end;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size:12px;
    width: max(200px,18vw);
}

ion-icon {
    font-size:max(25px,3vw);
    color:#226CAB;
    position: relative;top:5px;left:max(80px,8vw);
}

a {
    text-decoration: none;
    color:#226CAB;
}


.msg_For_User {
    color:rgba(0, 0, 0, 0.671)
}

.title {
    color:#226CAB;
    font-size: max(20px,2vw);
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    width: max(250px,22vw);
}

.subtitle {
    color:rgba(0, 0, 0, 0.5);
    font-size:max(10px,0.8vw);
    text-align: left;
    width:max(250px,20vw);
    font-weight: 400;
}

.perfilUser {
    width:50px;
    height: 50px;
    border-radius:50%;
    background-image: url('../images/wolf.jpg');
    background-position: center;
    background-size: cover;
    background-color: #282a37;
    border:1px solid  #3582c6;
}

select {
    width:150px;
    height: 35px;
    padding:5px;
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:none;
    background-color: transparent;
    position: relative;left:20px;top:10px;
    color: #7b7b7b;
    outline:none;
}

.selectPerfilUser {
    margin-bottom: 30px;
}


@media screen and (max-width:320px){
    .registerPage {
        overflow-y: auto;
    }

    .title {
       position: relative;top:50px;
    }
    
    .subtitle {
        position: relative;top:50px;
    }

    .formRegister {
        margin-top:100px;
    }




}
